.hero {
  height: 80px;
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  &.plant {
    background-image: url('images/heroes-greenshadow.png.adapt.crop16x9.652w.png');
  }
  &.zombie {
    background-image: url('images/heroes-superbrainz.png.adapt.crop16x9.652w.png');
  }
}
