.hero {
  height: 80px;
  width: 20%;
  background-image: url('images/heroes-greenshadow.png.adapt.crop16x9.652w.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
