.mana {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    font-size: 0.8rem;
    color: white;
    text-align: center;
  }
}
